<app-navbar></app-navbar>
<div class="pt-3 pl-3">
  <button
    routerLink="/cunas"
    class="bg-amber-300 hover:bg-amber-400 text-white rounded-md mr-2 px-2 py-2 sm:px-1 sm:py-1 md:px-2 md:py-2"
  >
    <img
      class="object-cover w-7 h-7 sm:w-6 sm:h-6"
      src="https://img.icons8.com/?size=100&id=1806&format=png&color=000000"
      alt="Backpage"
    />
  </button>
</div>
<div class="flex flex-wrap justify-center items-start gap-40 p-20">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-6 space-y-4 max-w-md">
    <h2 class="text-xl font-bold mb-4">
      Añadir Cuna
    </h2>
    <div class="mb-4">
      <label for="numserie" class="block text-gray-700">Número de Serie</label>
      <input
        type="text"
        id="numserie"
        formControlName="numserie"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
        placeholder="Ingrese número de serie"
        required
      />
      <div *ngIf="form.get('numserie')?.invalid && form.get('numserie')?.touched" class="text-red-500">
        Número de serie es requerido y no debe exceder 5 caracteres.
      </div>
    </div>
    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
      >
        Crear
      </button>
      <button
        type="button"
        class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 ml-2"
        routerLink="/cunas"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
