<div class="bg-cyan-400 text-white p-4">
  <nav class="flex justify-between items-center">
    <div>
      <img src="assets/images/logo-day-zoom.png" class="w-10 h-10 mx-auto">
    </div>
    <div>
      <button routerLink="/cunas" class="bg-cyan-300 hover:bg-teal-400 text-white px-3 py-1 rounded-md mr-2">
        Cunas
      </button>
      <button routerLink="/profile" class="bg-zinc-800 hover:bg-zinc-700 text-white px-3 py-1 rounded-md mr-2">
        Tickets
      </button>
      <button routerLink="/settings" class="bg-zinc-800 hover:bg-zinc-700 text-white px-3 py-1 rounded-md mr-2">
        Usuarios
      </button>
    </div>
    <div>
      <button (click)="onLogout()" class="bg-amber-400 hover:bg-amber-200 text-white px-3 py-1 rounded-md mr-2">
        Log out
      </button>
    </div>
  </nav>
</div>
