<app-navbar *ngIf="rol === '1'"></app-navbar>
<div *ngIf="rol === '1'" class="flex justify-center items-center min-h-screen bg-rose-100">
  <h1 class="text-4xl font-bold text-center gradient-text animate-welcome">
    Bienvenido <br> a tu extensión administrativa
  </h1>
</div>

<app-navbar-user *ngIf="rol === '3'"></app-navbar-user>
<div *ngIf="rol === '3'" class="flex justify-center items-center min-h-screen bg-gray-100">
  <h1 class="text-4xl font-bold text-center gradient-text animate-welcome">
    Bienvenido
  </h1>
</div>
